Q1.List any five functions of the pandas library with execution.

1. read_csv(): This function is used to read a CSV file and create a DataFrame object from it. Here's an example:

In [ ]:
import pandas as pd
data = pd.read_csv('file.csv')

2. head(): This function is used to display the first n rows of a DataFrame object. Here's an example:

In [ ]:
data = pd.read_csv('file.csv')
print(data.head(10)) # displays the first 10 rows of data

3. describe(): This function is used to generate a statistical summary of a DataFrame

In [ ]:

print(data.describe()) # generates a statistical summary of the data

4. groupby(): This function is used to group a DataFrame object by one or more columns and perform aggregate operations on the groups.

In [ ]:

grouped_data = data.groupby('column_name')
print(grouped_data.mean()) # calculates the mean of each group

5. fillna(): This function is used to fill missing values in a DataFrame object with a specified value or method.

In [ ]:
data.fillna(0, inplace=True) # fills all missing values with 0

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Index(range(1, 2*len(df)+1, 2))
    df.index = new_index
    return df

In [4]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [6]:
def sum_first_three_values(df):
    values_sum = 0
    for i, value in enumerate(df['Values']):
        if i < 3:
            values_sum += value
        else:
            break
    print("The sum of the first three values in the 'Values' column is:", values_sum)

In [14]:
df=pd.DataFrame({"Values":[10, 20, 30, 40, 50]})

In [15]:
sum_first_three_values(df)

The sum of the first three values in the 'Values' column is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [16]:
df=pd.DataFrame({"name": ["amish","sudh","jay","raj"]})

In [26]:
def add_word_count(df):
    df['Word_count'] =df["name"].apply(len)

In [27]:
add_word_count(df)

In [28]:
df

    name  Word_count
0  amish           5
1   sudh           4
2    jay           3
3    raj           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

Both DataFrame.size() and DataFrame.shape() are methods in the Pandas library that can be used to obtain information about the dimensions of a DataFrame, but they differ in what they return.

DataFrame.size() returns the total number of elements in the DataFrame, which is the product of the number of rows and columns. In other words, it returns the size of the DataFrame as a single number, regardless of the number of dimensions.

On the other hand, DataFrame.shape() returns a tuple that contains the number of rows and columns in the DataFrame, respectively. So, it returns the dimensions of the DataFrame as a tuple of two numbers.

In [31]:
df.shape

(4, 2)

In [32]:
df.size

8

Q6. Which function of pandas do we use to read an excel file?

read_excel() function is used to read excel file 
pd.read_excel('demo.excel')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [121]:
def userName(df):
    user=[]
    for ind,j in enumerate(df['email']):
        mail=j
        name=""
        
        for i in mail:
            if i=='@':
                break
            name+=i
        user.append(name)
    df['user']=user

In [123]:
df=pd.DataFrame({"email":["amish@gmail.com","sudh@gmail.com","raj@gmail.com"]})

In [124]:
userName(df)

In [125]:
df

             email   user
0  amish@gmail.com  amish
1   sudh@gmail.com   sudh
2    raj@gmail.com    raj

In [126]:
def extract_username(email):
    return email.split('@')[0]

df['Username'] = df['email'].apply(extract_username)

In [127]:
df

             email   user Username
0  amish@gmail.com  amish    amish
1   sudh@gmail.com   sudh     sudh
2    raj@gmail.com    raj      raj

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [129]:
data={
   "A":[3,8,6,2,9],
    "B" : [5,2,9,3,1],
    "c" : [1,7,4,5,2]
}

In [130]:
df=pd.DataFrame(data)

In [146]:
def select_row(df):
    selected_rows=df[(df["A"] > 5) & (df["B"] < 10)]
    return pd.DataFrame( selected_rows)

In [148]:
df2=select_row(df)

In [149]:
df2

   A  B  c
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [151]:
df=pd.DataFrame({"values":[2,3,4,5,2,6,8,4]})

In [153]:
def statesticle_operation(df):
    return {"mean": df['values'].mean(),
            "median": df['values'].median(),
            "sd": df['values'].std()}

In [154]:
statesticle_operation(df)

{'mean': 4.25, 'median': 4.0, 'sd': 2.052872551885702}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [155]:
import pandas as pd

df=pd.DataFrame({"Sales": [10000,45000,34000,4000,30000,23000,11000], "date":["2023-05-1","2023-06-1","2023-07-1","2023-08-1","2023-09-1","2023-10-1","2023-11-1",]  })

def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

In [157]:
df

   Sales       date  MovingAverage
0  10000  2023-05-1   10000.000000
1  45000  2023-06-1   27500.000000
2  34000  2023-07-1   29666.666667
3   4000  2023-08-1   23250.000000
4  30000  2023-09-1   24600.000000
5  23000  2023-10-1   24333.333333
6  11000  2023-11-1   22428.571429

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [174]:
df=pd.DataFrame( pd.date_range(start="2023-01-01",end="2023-01-05"))

In [178]:
df["Weekday"]=df[0].dt.day_name()

In [179]:
df

           0    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [182]:
df=pd.DataFrame({"Sales": [10000,45000,34000,4000,30000,23000,11000], "date":["2023-01-1","2023-06-1","2023-07-1","2023-01-12","2023-09-1","2023-10-1","2023-1-30",]  })

In [183]:
import pandas as pd

def select_rows_between_dates(df):
    # convert the 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['date'])

    # select rows where the date is between '2023-01-01' and '2023-01-31'
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_rows = df.loc[mask]

    return selected_rows

In [184]:
select_rows_between_dates(df)

   Sales        date       Date
0  10000   2023-01-1 2023-01-01
3   4000  2023-01-12 2023-01-12
6  11000   2023-1-30 2023-01-30