Q1. Explain with an example each when to use a for loop and a while loop.

A for loop is useful when you need to iterate over a sequence of values or when you know the exact number of times you want to execute a block of code. Here's an example of using a for loop to iterate over a list of names:

In [ ]:
names = ['Alice', 'Bob', 'Charlie', 'David']
for name in names:
    print(name)

A while loop, on the other hand, is useful when you need to repeat a block of code until a certain condition is met. Here's an example of using a while loop to keep prompting the user for input until they enter a valid number:

In [ ]:
num = None
while num is None:
    try:
        num = int(input("Enter a number: "))
    except ValueError:
        print("That's not a valid number. Try again.")

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [12]:
s=0
p=1
for i in range(1,11):
    s+=i
    p*=i
print("sum of first 10 natural number is: ",s)
print("product of first 10 natural number is: ",p)

sum of first 10 natural number is:  55
product of first 10 natural number is:  3628800

In [17]:
i=1
s=0
p=1
while i<=10:
    s+=i
    p*=i
    i+=1
print("sum of first 10 natural number is: ",s)
print("product of first 10 natural number is: ",p)

sum of first 10 natural number is:  55
product of first 10 natural number is:  3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [22]:
units = int(input("Enter the number of units consumed: "))
total_bill = 0

if units <= 100:
    total_bill = units * 4.5
elif units <= 200:
    total_bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Total electricity bill: Rs. ", total_bill)

Enter the number of units consumed:  310

Total electricity bill: Rs.  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [27]:
# For loop
l =list(range(1,101))
cube=[]
for i in l:
    c=i**3
    if c%4==0 or c%5==0:
        cube.append(i)
cube

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [30]:
i=0
cube_4_5=[]
while i < len(l):
    cube = l[i]**3
    if cube%4==0 or cube%5==0:
        cube_4_5.append(l[i])
    i+=1
cube_4_5

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [36]:
string = "I want to become a data scientist"
v="aeiouAEIOU"
c=0
for i in string:
    if i in v:
        c+=1
print("Vovels in String is: ",c)

Vovels in String is:  12